.footer-container{
    background-color: black;
}


/* Small devices (sm) - ≥ 640px */
@media (min-width: 640px) {
  .sm\:block {
    display: block;
  }
  .sm\:hidden {
    display: none;
  }
}

/* Medium devices (md) - ≥ 768px */
@media (min-width: 768px) {
  .md\:block {
    display: block;
  }
  .md\:hidden {
    display: none;
  }
}

/* Large devices (lg) - ≥ 1024px */
@media (min-width: 1024px) {
  .lg\:block {
    display: block;
  }
  .lg\:hidden {
    display: none;
  }
}

/* Extra Large (xl) - ≥ 1280px */
@media (min-width: 1280px) {
  .xl\:block {
    display: block;
  }
  .xl\:hidden {
    display: none;
  }
}


.vortex-demo {
    width: calc(100% - 4rem);
    margin: auto;
    border-radius: 8px;
    height: 30rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vortex-heading {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.vortex-description {
    color: white;
    font-size: 1rem;
    text-align: center;
    max-width: 600px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.primary-button {
    padding: 10px 20px;
    background-color: #1e90ff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.primary-button:hover {
    background-color: #007bff;
}

.secondary-button {
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    background: none;
}

.secondary-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
