
.Title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: large;
    z-index: 100;
    /* transform: translateY(-400px); */
}

.card-container {
    max-width: 950vw; /* Equivalent to max-w-xs */
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 110px;
    background-color: black;
    /* transform: translateY(-550px); */

}

.containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card-container2{

    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    /* transform: translateY(-600px); */
    padding-bottom: 170px;

}

.card {
    position: relative;
    height: 24rem; /* Equivalent to h-96 */
    border-radius: 0.375rem; /* Equivalent to rounded-md */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Equivalent to shadow-xl */
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 11px; /* Equivalent to p-4 */
    margin-left: 21px;
    margin-right: 21px;
    border: 1px solid transparent;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;
}

#card1{
    background-image: url("./Assets/Satvik-diet.avif");
}
#card1:hover {
    background-image: url("./Assets/healthy.gif");
    background-size: cover;
}

#card2{
    background-image: url("./Assets/conquor.jpg");
}
#card2:hover {
    background-image: url("./Assets/meditation.gif");
    background-size: cover;
}

#card3{
    background-image: url("./Assets/why bad.jpeg");
}
#card3:hover {
    background-image: url("./Assets/why bad.gif");
    background-size: cover;
}

#card4{
    background-image: url("./Assets/anger_new.avif");
}
#card4:hover {
    background-image: url("./Assets/anger.gif");
    height: 24rem; /* Equivalent to h-96 */
    background-size: cover;
}

#card5{
    background-image: url("./Assets/lost.jpeg");
}
#card5:hover {
    background-image: url("./Assets/lost.gif");
    background-size: cover;
}

#card6{
    background-image: url("./Assets/unsatified.jpg");
}
#card6:hover {
    background-image: url("./Assets/unsatified.gif");
    background-size: cover;
}

.card:hover {
    background-image: url("https://i.giphy.com/media/syEfLvksYQnmM/giphy.gif");
    background-size: cover;
}


.card:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.5;
}

.card-text {
    position: relative;
    z-index: 50;
    color: white;
  }
  
  .card-text h1 {
    font-size: 1.875rem; /* Equivalent to text-3xl */
    font-weight: bold;
  }
  
  .card-text p {
    font-size: 1rem; /* Equivalent to text-base */
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  